<div class="container-80">
  <h1><%= current_user.name %>'s Events Profile</h1>
  <div class="events-container">
    <div>
      <h2>Hosted Events</h2>

      <% @created_events.each do |event| %>

      <p> <%= link_to event do %> <%= event.title %><% end %> </p>
      <% end %>
    </div>
    <div>
      <h2>Upcoming Events</h2>
      <% @upcoming_events.each do |event| %>

      <p> <%= link_to event do %> <%= event.title %><% end %> </p>
      <% end %>
    </div>
    <div>
      <h2>Attended Events</h2>
      <% @past_events.each do |event| %>

      <p> <%= link_to event do %> <%= event.title %><% end %> </p>
      <% end %>
    </div>
  </div>
</div>