<div class="container-index">
  <h1>Upcoming Events</h1>
  <section class="display-events">
    <% @upcoming_events.each do |event| %>
    <div>
      <h3> <%= link_to event, id:event.title do  %> <%= event.title %> <% end %></h3>
      <p><%= event.description %></p>
      <small><%= event.creator.name %></small>
    </div>
    <% end %>
  </section>
  <h1>Past Events</h1>
  <section class="display-events">
    <% @past_events.each do |event| %>
    <div>
      <h3> <%= link_to event do %> <%= event.title %> <% end %></h3>
      <p><%= event.description %></p>
      <small><%= event.creator.name %></small>
    </div>
    <% end %>
  </section>
</div>