<!DOCTYPE html>
<html>

<head>
  <title>Private Events</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <nav>
      <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <ul>
        <% if user_signed_in? %>

        <li>
          <%= link_to current_user.name, user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Log out', logout_path %>
        </li>

        <% else %>

        <li>
          <%= link_to 'Log in', login_path %>
        </li>
        <li>
          <%= link_to 'Sign up', signup_path %>
        </li>

        <% end %>

      </ul>
    </nav>
  </div>

  <main class="<%= controller.controller_name%>">
    <%= yield %>
  </main>

</body>

</html>